.header{
    display: flex;
    align-items: center;
    background-color: #343A40;
    color: #FFFFFF;
    margin: 0;
    font-weight: normal;
}

.header h2{
    margin-left: 20px;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

  }
  
  .li2{
    opacity: 50%;
  }

  .li3{
    opacity: 30%;
  }
  .header ul li {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    text-decoration: none;
  }
  .header a{
    color: #FFFFFF;
    text-decoration: none;
  }