.userImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    justify-self: right;
    align-self: right;
    margin: 0;
    padding: 0;
    border-radius: 50%;
   
}

.userDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 50px;
}

.userDiv button{
    border: none;
    background: none;
    color: aliceblue;
}

.userMenu {
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    color: black;
}

.userMenu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-right: 40px;
}
.userMenu ul li{
    padding: 0px;
    margin: 0px;
    display: block;
    width: 100%;
}

.userMenu ul li:hover{
    background-color: #e9d4d4;
    display: block;
    cursor: pointer;
    
}